
:root {
    --primary-color: #2baaec;
    --secondary-color: #25e6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #363636;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* border: 1px solid green; */
}
.btn {
    padding: 1rem 3rem;
    border: 1px solid transparent;
    border-radius: .7rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.btn-primary {
    background-color: var(--secondary-color);
    color: #ffffff;
}
.btn-primary:hover {
    background-color: var(--primary-color);
}
.btn-secondary {
    background-color: #ffffff;
    color: var(--primary-color);
}
.btn-secondary:hover {
    background-color: var(--primary-color);
    border: 2px solid #ffffff;
    color: #ffffff;
}

/* TOP NAV */
.top-nav {
    display: none;
    border: #d2d2d2 solid .5px;
}
.working-hours{
    display: flex;
    flex-direction: row;
}
.working-hours img {
    padding-right: .5rem;
}
.working-hours small {
    color: #626262;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.social-icons a {
    color: var(--primary-color);
    margin-left: 1rem;
}
.social-icons a:hover {
    color: var(--secondary-color);
}

/* MAIN NAV */
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: black;
    display: block;
}
.collapse {
    display: none;
}
.navbar-nav a, .nav-link {
    text-decoration: none;
    color: #363636;
    font-size: 18px;
    margin-left: 1rem;
    list-style: none;
}

/* SHOWCASE */
#showcase {
    background-color: #DEDEDE;
}
.text h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.text p {
    color: #626262;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
#showcase .container p {
    margin-bottom: 3rem;
}
.placehold {
    display: none;
    height: 35rem;
}
.placehold-1 {
    margin: 0 2rem 0 -1rem;
}

/* ABOUT-US */
#about-us .content h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}
.span-word-color {
    color: var(--primary-color);
}
.line-1 {
    margin: 1rem 0 2rem 0;
    width: 100%;
}
#about-us .text {
    margin-bottom: 3rem;
}
#about-us .numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about-us .numbers h2 {
    font-size: 40px;
    font-weight: lighter;
    color: var(--primary-color);
}
.numbers p {
    font-size: 18px;
}
.placehold-2 {
    margin: 2rem -1rem 0 2rem;
}

/* SERVICES */
#services {
    background-color: #f7f7f7;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#services .container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#services .content h2 {
    font-size: 2rem;
    font-weight: normal;
}
/* .line-2 {
    width: 20rem;
} */
#services #card-house {
    margin-top: 1rem;
}
.card {
    background-color: #929292;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    height: 250px;
    width: 250px;
    cursor: pointer;
    padding: 2.5rem;
    margin-top: 1rem;
}
.logo {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
}
.logo img {
    width: 40px;
    height: 40px;
}
.card-body h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 1rem 0 .5rem 0;
}
.card-body p {
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    font-weight: normal;
    color: #626262;
}
.card:hover {
    transition-delay: 0.3s;
    box-shadow: 0px 10px 30px #0000004f;
}
.card:hover .logo {
    background-color: var(--primary-color);
    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    box-shadow: 0 0 0 10px #2baaec33;
}

/* APPOINTMENT */
#appointment {
    background-color: var(--primary-color);
    overflow: hidden;
    position: relative;
}
#appointment .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.overlay {
    position: absolute;
    inset: 0;
    background: white;
    opacity: .1;
}
#appointment p {
    font-size: 1.5em;
    color: #ffffff;
    font-weight: lighter;
    padding-bottom: 1rem;
}

/* FOOTER */
#footer {
    display: none;
    background-color: var(--primary-color);
}
#footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer small {
    font-family: 'Roboto', sans-serif;
    color: #ffffff86;
    font-weight: normal;
}


@media (max-width: 768px) {
    #appointment .container{
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        border: 1px solid red;
        padding: 1rem 0;
	}
    #showcase .container, #about-us .container {
        padding-bottom: 0;
    }
    #showcase .content, #about-us .content {
        padding-bottom: 1rem;
    }
    #services #card-house {
        display: grid;
        grid-template-columns: 250px 250px;
        gap: 1.5rem;
        margin-top: 5rem;
    }
    
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        border: 1px solid yellowgreen;
    }
    .navbar-toggler {
        display: none;
    }
    .collapse {
        display: block;
    }
    .placehold {
        display: block;
    }
    #appointment .container{
        flex-direction: row;
        justify-content: space-between;
    }
    .top-nav .container, #footer .container {
        padding: .2rem 0;
    }
    .top-nav {
        display: block;
    }
    #footer {
        display: block;
    }
    #services #card-house {
        display: grid;
        grid-template-columns: 250px 250px 250px;
        gap: 1.5rem;
        margin-top: 5rem;
    }
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
        border: 1px solid pink;
	}
    .top-nav .container{
        padding: .7rem 0;
    }
    .navbar .container {
        padding: 2rem 0;
    }
    #showcase .placehold-1 {
        padding: 0 2rem 0 0;
    }
    #showcase .content {
        margin: 0 -3rem 0 1rem;
    }
    #about-us .content {
        margin: 0 7rem 0 0;
    }
    #appointment .container {
        padding: 3.5rem 0;
    }
    #footer .container {
        padding: 1.2rem 0;
    }

    /* Services start */
    #services {
        background-color: #f7f7f7;
        padding: 5rem 0;
    }
    #services .container {
        text-align: center;
    }
    #services h2 {
        font-size: 40px;
        font-weight: normal;
    }
    #services #card-house {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        gap: 1.5rem;
        margin-top: 5rem;
    }
    .card {
        background-color: #929292;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        border-radius: 5px;
        background-color: white;
        color: black;
        height: 350px;
        width: 350px;
        cursor: pointer;
        padding: 3.5rem;
    }
    .logo {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        border-radius: 50%;
    }
    .card-body h3 {
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 1.5rem;
    }
    .card-body p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: normal;
        color: #626262;
    }
    .card:hover {
        transition-delay: 0.3s;
        box-shadow: 0px 10px 30px #0000004f;
    }
    .card:hover .logo {
        background-color: var(--primary-color);
        transition-property: box-shadow;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        box-shadow: 0 0 0 10px #2baaec33;
    }
    /* Services end */
}

@media (min-width: 1400px) {
	.container {
		max-width: 1300px;
        border: 1px solid blue;
	}
    #showcase .content {
        margin: 0 0 0 6rem;
    }
    #about-us .content {
        margin: 0 7rem 0 0;
    }
    #about-us .placehold-2 {
        padding: 0 10rem 0 1rem;
    }

    #services #card-house {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        gap: 1.5rem;
        margin-top: 5rem;
    }
    .card {
        background-color: #929292;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        border-radius: 5px;
        background-color: white;
        color: black;
        height: 400px;
        width: 400px;
        cursor: pointer;
        padding: 3.5rem;
    }
    .logo {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        border-radius: 50%;
    }
}