:root {
    --primary-color: #2baaec;
    --secondary-color: #25e6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}
.container {
    width: 100%;
    margin: auto;
}




/* NAVBAR */
.top-nav {
    padding: .2rem 1rem;
    border: #d2d2d2 solid .5px;
}
.top-nav .container, .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    padding: 2rem 1rem;
}
.navbar-nav {
    /* Ingen skillnad. Vet ej. */
    display: flex;
    flex-direction: column;
    list-style: none;
}
