
:root {
    --primary-color: #2baaec;
    --secondary-color: #25e6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #363636;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* border: 1px solid green; */
}
.btn {
    padding: 1rem 3rem;
    border: 1px solid transparent;
    border-radius: .7rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.btn-primary {
    background-color: var(--secondary-color);
    color: #ffffff;
}
.btn-primary:hover {
    background-color: var(--primary-color);
}
.btn-secondary {
    background-color: #ffffff;
    color: var(--primary-color);
}
.btn-secondary:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: var(--primary-color);
}

/* TOP NAV */
.top-nav {
    display: none;
    border: #d2d2d2 solid .5px;
}
.working-hours{
    display: flex;
    flex-direction: row;
}
.working-hours img {
    padding-right: .5rem;
}
.working-hours small {
    color: #626262;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.social-icons a {
    color: var(--primary-color);
    margin-left: 1rem;
}
.social-icons a:hover {
    color: var(--secondary-color);
}

/* MAIN NAV */
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: black;
    display: block;
}
.collapse {
    display: none;
}
.navbar-nav a, .nav-link {
    text-decoration: none;
    color: #363636;
    font-size: 18px;
    margin-left: 1rem;
    list-style: none;
}

/* SHOWCASE */
#showcase {
    background-color: #DEDEDE;
}
.text h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.text p {
    color: #626262;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
#showcase .container p {
    margin-bottom: 3rem;
}
.placehold {
    display: none;
    height: 35rem;
}
.placehold-1 {
    margin: 0 2rem 0 -1rem;
}

/* ABOUT-US */
#about-us .content h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}
.span-word-color {
    color: var(--primary-color);
}
.line-1 {
    margin: 1rem 0 2rem 0;
    width: 100%;
}
#about-us .text {
    margin-bottom: 3rem;
}
#about-us .numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about-us .numbers h2 {
    font-size: 40px;
    font-weight: lighter;
    color: var(--primary-color);
}
.numbers p {
    font-size: 18px;
}
.placehold-2 {
    margin: 2rem -1rem 0 2rem;
}

/* SERVICES */
#services {
    background-color: #f7f7f7;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#services .container {
    text-align: center;
}
#services .content h2 {
    font-size: 40px;
    font-weight: normal;
}
#services #card-house {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    /* grid-template-columns: repeat(3, minmax(400px, 1fr)); */
    gap: 3rem;
    margin-top: 5rem;
}
.card {
    background-color: #929292;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    height: 400px;
    width: 400px;
    cursor: pointer;
    padding: 3.5rem;
    transition: box-shadow 300ms ease-in-out;
    
}
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    /* transition: transform 100ms ease-out, background 200ms ease-out; */
    /* transition: box-shadow 0.25s ease-out 0ms; */
}
.card-body h3 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 1.5rem;
}
.card-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #626262;
}
/* .card:hover {
    box-shadow: 2px 2px 1rem #3333339d, 0 0 3rem #333333a8;
} */
/* .card:focus .card-header .logo,
.card:hover .card-header .logo {
    background: var(--primary-color);
    width: 110px;
    height: 110px;
    border: 10px solid #abc4d1;
} */
.card:hover {

    transition-delay: 0.3s;

    box-shadow: 0px 10px 30px #0000004f;

}

.card:hover .logo {

    background-color: var(--primary-color);

    transition-property: box-shadow;

    transition-duration: 0.3s;

    transition-timing-function: ease-out;

    box-shadow: 0 0 0 10px #2baaec33;

}


/* box hover circle shadow */
/* @keyframes logoHover {
    from {
        box-shadow: 0 0 0 0px #2ba8ec33;
    }
    
    to {
        box-shadow: 0 0 0 10px #2ba8ec33;
    }
}
.card:focus .card-header .logo, 
.card:hover .card-header .logo {
    background-color: #2BAAEC;
    box-shadow: 0 0 0 10px #2ba8ec33; 
}
.card:hover .card-header .logo {
    animation: logoHover .5s forwards;
} */
/* box hover circle shadow */


/* APPOINTMENT */
#appointment {
    background-color: var(--primary-color);
    overflow: hidden;
    position: relative;
}
.overlay {
    position: absolute;
    inset: 0;
    background: white;
    opacity: .1;
}
#appointment p {
    font-size: 30px;
    color: #ffffff;
    font-weight: lighter;
    display: none;
}
/* #appointment .btn-secondary {
    align-items: center;
} */

/* FOOTER */
#footer {
    display: none;
    background-color: var(--primary-color);
}
#footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer small {
    font-family: 'Roboto', sans-serif;
    color: #ffffff86;
    font-weight: normal;
}


@media (max-width: 768px) {
    #appointment .container{
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        border: 1px solid red;
        padding: 1rem 0;
	}
    #showcase .container, #about-us .container {
        padding-bottom: 0;
    }
    #showcase .content, #about-us .content {
        padding-bottom: 1rem;
    }
    .top-nav .container, #footer .container {
        padding: .2rem 0;
    }
    .top-nav {
        display: block;
    }
    #footer {
        display: block;
    }
    #appointment .container{
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        border: 1px solid yellowgreen;
    }
    .navbar-toggler {
        display: none;
    }
    .collapse {
        display: block;
    }
    .placehold {
        display: block;
    }
    #appointment p {
        display: block;
    }
    #appointment .container{
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
        border: 1px solid pink;
	}
    .top-nav .container{
        padding: .7rem 0;
    }
    .navbar .container {
        padding: 2rem 0;
    }
    #showcase .placehold-1 {
        padding: 0 2rem 0 0;
    }
    #showcase .content {
        margin: 0 -3rem 0 1rem;
    }
    #about-us .content {
        margin: 0 7rem 0 0;
    }
    #appointment .container {
        padding: 3.5rem 0;
    }
    #footer .container {
        padding: 1.2rem 0;
    }
}

@media (min-width: 1400px) {
	.container {
		max-width: 1300px;
        border: 1px solid blue;
	}
    #showcase .content {
        margin: 0 0 0 6rem;
    }
    #about-us .content {
        margin: 0 7rem 0 0;
    }
    #about-us .placehold-2 {
        padding: 0 10rem 0 1rem;
    }
}