@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

:root {
    --primary-color: #2baaec;
    --secondary-color: #25e6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto';

    /* line-height: 1.5; */
}
.container {
    width: 100%;
    margin: auto;
}
.btn {
    padding: .75rem 2.5rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    outline: none;
    display: inline-block;
}
.btn-primary {
    background-color: var(--secondary-color);
    color: #f7f7f7;
}
.btn-secondary {
    background-color: #f7f7f7;
    color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--primary-color);
}
.word-color {color: var(--primary-color);}
.numbers h2 {color: var(--primary-color);}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text p {
    color: #626262;
    font-size: .8em;
}

/* TOP NAV */
.top-nav {
    border: #d2d2d2 solid .5px;
    padding: .4rem 10rem;
}
.working-hours img {
    padding-right: .5rem;
}
.social-icons a {
    color: var(--primary-color);
    margin-left: 1rem;
}
.social-icons a:hover {
    color: var(--secondary-color);
}

/* MAIN NAV */
.navbar {
    margin: 2rem 10rem;
}
.top-nav-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #ffffff;
    display: block;
}
.collapsen {
    display: none;
}
.navbar-nav a, .nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 1rem;
    list-style: none;
    display: none;
}

/* SHOWCASE */
#showcase {
    background-color: #DEDEDE;
    padding: 0 10rem;
}
/* #showcase .container img {
    height: 30rem;
} */
#showcase .content {
    align-self: center;
    text-align: left;
    padding: 10rem;
}
.text h1 {
    color: #363636;
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
}
#showcase .container p {
    margin-bottom: 3rem;
}

/* ABOUT-US */
#about-us {
    padding: 0 10rem;
}
/* #about-us .container img {
    height: 35rem;
} */
#about-us .content {
    padding: 10rem;

}
#about-us .content img {
    height: 2.2px;
    width: 100%;
    margin: 1rem 0 2rem 0;
}
#about-us .content h2 {
    color: #363636;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}
#about-us .text {
    margin-bottom: 3rem;
}
#about-us .numbers h2 {
    color: var(--primary-color);
}
.numbers p {
    color: black;
    font-size: 18px;
}

/* SERVICES */
#services {
    background-color: #f7f7f7;
    padding: 0 10rem;
}
#services .content {
    padding: 10rem;
    text-align: center;
}
#services .line-2 {
    width: 20rem;
}
#services #card-house { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 5rem;
}
.card {
    width: 20rem;
    height: 20rem;
    background-color: white;
    /* transition: box-shadow 100ms ease-in; */
}
.card-header {
    padding: 3rem;
    justify-content: center;
}
.logo {
    width: 100px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    justify-content: center;
}
.card-body {
    padding: 0 2rem; 
}
.card-body h3 {
    margin-bottom: 1rem;
}

/* APPOINTMENT */
#appointment {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 5rem 10rem;
}
#appointment .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* FOOTER */
#footer {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1rem 0;
}
#footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}






@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .navbar-toggler {
        display: none;
    }
    .collapse {
        display: block;
    }
    /* .top-nav-nav {
        flex-direction: row;
    } */
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1300px;
	}
}