@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

:root {
    --primary-color: #2baaec;
    --secondary-color: #25e6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto';

    /* line-height: 1.5; */
}
.container {
    width: 100%;
    margin: auto;
}
.btn {
    padding: .75rem 2.5rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    outline: none;
    display: inline-block;
}
.btn-primary {
    background-color: var(--secondary-color);
    color: #f7f7f7;
}
.btn-secondary {
    background-color: #f7f7f7;
    color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--primary-color);
}
.word-color {color: var(--primary-color);}
.numbers h2 {color: var(--primary-color);}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text p {
    color: #626262;
    font-size: .8em;
}

/* TOP NAV */
.top-nav {
    border: #d2d2d2 solid .5px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.working-hours img {
    padding-right: .5rem;
}
.social-icons a {
    color: var(--primary-color);
    margin-left: 1rem;
}
.social-icons a:hover {
    color: var(--secondary-color);
}

/* MAIN NAV */
.navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: black;
    display: block;
}
.collapse {
    display: none;
}
.navbar-nav a, .nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 1rem;
    list-style: none;
}


/* SHOWCASE */
#showcase {
    background-color: #DEDEDE;
}
#showcase .content {
    /* flex: 1; */
}
.text h1 {
    color: #363636;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
}
#showcase .container p {
    margin-bottom: 3rem;
}
.placehold {
    display: none;
    height: 35rem;
}
.placehold-1 {
    margin-top: 2rem;
    margin-right: 10rem;
}

/* ABOUT-US */

/* #about-us .container img {
    height: 35rem;
} */
#about-us .content img {
    margin: 1rem 0 2rem 0;
    width: 100%;
}
#about-us .content h2 {
    color: #363636;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}
#about-us .text {
    margin-bottom: 3rem;
}
#about-us .numbers h2 {
    color: var(--primary-color);
}
.numbers p {
    color: black;
    font-size: 18px;
}
.placehold-2 {
    margin-top: 5rem;
    margin-left: 9rem;
    padding-right: 10rem;
}

/* SERVICES */
#services {
    background-color: #f7f7f7;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
#services .container {
    text-align: center;
}
#services #card-house { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 5rem;
}
.card {
    /* width: 20rem;
    height: 20rem; */
    background-color: white;
    /* transition: box-shadow 100ms ease-in; */
    padding: 3rem 2rem;
}
.card-header {
    /* padding: 1rem; */
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.logo {
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 50%;
}
.card-body {
    /* padding: 2rem;  */
}
.card-body h3 {
    /* margin-bottom: 1rem; */
    /* padding: 1rem 0; */
    padding-bottom: 1rem;
    font: "roboto slab";
}


/* APPOINTMENT */
#appointment {
    background-color: var(--primary-color);
    color: #ffffff;
    /* padding: 5rem 10rem; */
    padding-top: 4rem;
    padding-bottom: 4rem;
}


/* FOOTER */
#footer {
    background-color: var(--primary-color);
    color: #ffffff;
    /* padding: 1rem 0; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 768px) {
    .container {
		max-width: 720px;
        padding: 0 5rem;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        padding: 0 3rem;
    }
    .navbar-toggler {
        display: none;
    }
    .collapse {
        display: block;
    }
    .placehold {
        display: block;
    }
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
        /* padding: 0 10rem; */
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1300px;
	}
}