:root {
    --primary-color: #2baaec;
    --secondary-color: #25e6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}
.container {
    width: 100%;
    margin: auto;
}
.btn {
    padding: .75rem 2.5rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    outline: none;
    display: inline-block;
}
.btn-primary {
    background-color: var(--secondary-color);
    color: #f7f7f7;
}
.btn-primary:hover {
    background-color: var(--primary-color);
}


/* TOP NAV */
.top-nav {
    padding: .2rem 7rem;
    border: #d2d2d2 solid .5px;
}
.top-nav .container, .navbar .container, #showcase .container, #about-us .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-icons a {
    color: var(--primary-color);
}
.social-icons a:hover {
    color: var(--secondary-color);
}

/* MAIN NAV */
.navbar {
    padding: 2rem 7rem;
}
.navbar-nav {
    /* Ingen skillnad. Vet ej. */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-link {
    padding: 1rem;
    display: inline-block;
}
.navbar-nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SHOWCASE */
#showcase {
    background-color: #DEDEDE;
    padding: 2rem 7rem;
}
#showcase .container img {
    height: 30rem;
}
.content {
    align-self: center;
    text-align: left;
    padding: 5rem;
}
.text {
    margin-bottom: 3rem;
    color: #363636;
}
.text h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
.text p {
    font-size: .8em;
    color: #626262;
}

/* ABOUT-US */
#about-us {
    padding: 2rem 7rem;
}
#about-us .container img {
    height: 35rem;
}
