
:root {
    --primary-color: #2baaec;
    --secondary-color: #25e6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #363636;

    /* line-height: 1.5; */
}
.container {
    width: 100%;
    margin: auto;
}
.btn {
    padding: 1rem 3rem;
    border: 1px solid transparent;
    border-radius: .7rem;
    outline: none;
    /* display: inline-block; */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.btn-primary {
    background-color: var(--secondary-color);
    color: #ffffff;
}
.btn-secondary {
    background-color: #ffffff;
    color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--primary-color);
}


.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* TOP NAV */
.top-nav {
    display: block;
    border: #d2d2d2 solid .5px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.working-hours img {
    padding-right: .5rem;
}
.working-hours small {
    color: #626262;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.social-icons a {
    color: var(--primary-color);
    margin-left: 1rem;
}
.social-icons a:hover {
    color: var(--secondary-color);
}

/* MAIN NAV */
.navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: black;
    display: block;
}
.collapse {
    display: none;
}
.navbar-nav a, .nav-link {
    text-decoration: none;
    color: #363636;
    font-size: 18px;
    margin-left: 1rem;
    list-style: none;
}


/* SHOWCASE */
#showcase {
    background-color: #DEDEDE;
}
.text h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.text p {
    color: #626262;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
#showcase .container p {
    margin-bottom: 3rem;
}
.placehold {
    display: none;
    height: 35rem;
}
.placehold-1 {
    margin-top: 2rem;
    margin-right: 10rem;
}


/* ABOUT-US */
/* #about-us .container img {
    height: 35rem;
} */
#about-us .content img {
    margin: 1rem 0 2rem 0;
    width: 100%;
}
#about-us .content h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}
#about-us .text {
    margin-bottom: 3rem;
}
#about-us .numbers h2 {
    font-size: 40px;
    font-weight: lighter;
    color: var(--primary-color);
}
.numbers p {
    font-size: 18px;
}
.placehold-2 {
    margin-top: 5rem;
    margin-left: 9rem;
    padding-right: 10rem;
}

/* SERVICES */
#services {
    background-color: #f7f7f7;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
#services .container {
    text-align: center;
}
#services .content h2 {
    font-size: 40px;
    font-weight: normal;
}
#services #card-house { 
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 400px);
    gap: 1.5rem;
    margin-top: 5rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 400px;
    height: 400px;
    cursor: pointer;
    padding: 3.5rem;
}
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    padding: 1.3rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
}
.card-body h3 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 1.5rem;
}
.card-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #626262;
}

/* APPOINTMENT */
#appointment {
    background-color: var(--primary-color);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#appointment p {
    font-size: 30px;
    color: #ffffff;
    font-weight: lighter;
}


/* FOOTER */
#footer {
    display: block;
    background-color: var(--primary-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer small {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: normal;
}



@media (max-width: 768px) {
    .container {
		max-width: 720px;
        padding: 0 5rem;
	}
    .top-nav {
        display: none;
    }
    #footer {
        display: none;
    }
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        padding: 0 3rem;
    }
    .navbar-toggler {
        display: none;
    }
    .collapse {
        display: block;
    }
    .placehold {
        display: block;
    }
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
        /* padding: 0 10rem; */
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1300px;
	}
}